<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="MyCanteen - Your online Canteen.">
    <meta name="author" content="">
    <title>MyCanteen Admin : @ViewBag.Title</title>
    <!-- Favicon -->
    <link rel="icon" href="~/Content/assets/img/brand/MyCanteenIcon.ico" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="~/Content/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/vendor/%40fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    @*Page Specific Styles*@
    @RenderSection("styles", false)
    <!-- Argon CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/argon.min5438.css?v=1.2.0" type="text/css">
</head>
<body>
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <!-- Brand -->
            <div class="sidenav-header  d-flex  align-items-center">
                <a class="navbar-brand" href="/">
                    @*<h2 class="text-primary"><b>MyCanteen</b></h2>*@
                    <img src="~/Content/assets/img/brand/MyCanteenLogo.png" />
                </a>
                <div class=" ml-auto ">
                    <!-- Sidenav toggler -->
                    <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-inner">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Nav items -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/Orders">
                                <i class="ni ni-archive-2 text-primary"></i>
                                <span class="nav-link-text">Process Orders</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/AddStock">
                                <i class="ni ni-fat-add text-red"></i>
                                <span class="nav-link-text">Add Stock</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/OrderStock">
                                <i class="ni ni-cart text-info"></i>
                                <span class="nav-link-text">Order Stock</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/ViewStock">
                                <i class="ni ni-chart-bar-32 text-green"></i>
                                <span class="nav-link-text">View Stock</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/ViewBills">
                                <i class="ni ni-paper-diploma text-pink"></i>
                                <span class="nav-link-text">View Bills</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Admin/ViewFeedback">
                                <i class="ni ni-zoom-split-in text-purple"></i>
                                <span class="nav-link-text">View Feedback</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Divider -->
                    <hr class="my-3">
                    <!-- Heading -->
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Help</span>
                        <span class="docs-mini">H</span>
                    </h6>
                    <!-- Navigation -->
                    <ul class="navbar-nav mb-md-3">
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank">
                                <i class="ni ni-spaceship"></i>
                                <span class="nav-link-text">Help</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Topnav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-gradient-danger border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center  ml-md-auto ">
                        <li class="nav-item d-xl-none">
                            <!-- Sidenav toggler -->
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                        @if (ViewBag.CurrentUser.UserImagePath == null)
                                        {
                                            <i class="fa fa-user"></i>
                                        }
                                        else
                                        {
                                            <img src="~/Content/@ViewBag.CurrentUser.UserImagePath" />
                                        }
                                    </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">
                                            @ViewBag.CurrentUser.FName
                                        </span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu  dropdown-menu-right ">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome!</h6>
                                </div>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-single-02"></i>
                                    <span>My profile</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="/Home/LogOut" class="dropdown-item">
                                    <i class="ni ni-user-run"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <!-- Header -->
        <div class="header bg-gradient-danger pb-6">
            <div class="container-fluid">
                <div class="header-body">
                    <div class="row align-items-center py-4">
                        <div class="col-lg-6 col-7">
                            <h6 class="h2 text-white d-inline-block mb-0">
                                @ViewBag.Title
                            </h6>
                            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                    <li class="breadcrumb-item"><a href="#"><i class="@ViewBag.Icon"></i></a></li>
                                    <li class="breadcrumb-item active">
                                        @ViewBag.Section
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        @ViewBag.Title
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--6">
            @RenderBody()
            <!-- Footer -->
            <footer class="footer pt-0">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6">
                        <div class="copyright text-center  text-lg-left  text-muted">
                            &copy; 2021 <a href="/" class="font-weight-bold ml-1" target="_blank">MyCanteen</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <a href="/" class="nav-link" target="_blank">MyCanteen</a>
                            </li>
                            <li class="nav-item">
                                <a href="/" class="nav-link" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="/" class="nav-link" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="/" class="nav-link" target="_blank">License</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="~/Content/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/Content/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/Content/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    @*Page Specific JavaScript*@
    @RenderSection("scripts", false)
    <!-- Argon JS -->
    <script src="~/Content/assets/js/argon.min5438.js?v=1.2.0"></script>
</body>
</html>
